- name: Execute Catapult Init Script
  script: init_catapult.sh -b={{ oc_binary }} -h={{ ose_host }} --github-client-id={{ github_client_id }} --github-client-secret={{ github_client_secret }} --git-repository={{ git_source_repository }} --git-ref={{ git_source_ref }}
  register: catapult_init_script

- name: Debug Output
  debug: var="{{ item }}"
  with_items:
    - catapult_init_script.stdout_lines

- name: Get Docker Registry IP
  command: "{{ oc_binary }} get svc docker-registry -n default --template=\\{\\{.spec.clusterIP\\}\\}"
  register: registry_query

- name: Set Facts
  set_fact:
    ose_registry: "{{registry_query.stdout}}"
